<div class="todo">
  <div class="todo-header">
    <h1>ToDoリスト</h1>
    <div class="tab-list">
    <ul class="tab-con">
    <li class="tab tab-active">未完了</li>
    <li class="tab">完了</li>
    <li class="tab">応援</li>
    </ul>
    </div>
  </div> 
  <div class="todo-body">
    <div class="todo-list-box todo-index-active">
      <% if @todo.blank? %>
        <%= link_to("ToDoを追加しよう", "/tasks/new", class: "list-text") %>
      <% else %>
        <h2>未完タスク</h2>
        <% @todo.each do |todo| %>
          
          <div class="todo-list <%= 'todo-list-out' if todo.limit_date <= Date.today %>">
          
          <div class="list-grid">
            <%= link_to "/tasks/#{todo.id}/comment",class: "comment-link" do %> 
              <p class="todo-list-text index-text-box"><%= todo.text %></p>
            <% end %>
            <%= link_to "/tasks/#{todo.id}/comment",class: "comment-link" do %> 
              <p class="index-limit"><%= todo.limit_date %></p> 
            <% end %>
            <div class="index-btn-box">
                <%= button_to '完了', done_path(todo.id),  date:{"turbo-method": :post}, class:"index-done-btn"%>
              </div>
          </div>

          <div class="sub-cont">  
          <% if todo.fights.where(user_id: session[:user_id]).exists?%>
            <%= link_to("#{Fight.where(to_do_id: todo.id).size}","/tasks/#{todo.id}/fight/#{Fight.find_by(user_id: session[:user_id], to_do_id: todo.id).id}", class: "fas_button_border_after") %>
          <% else %>
            <%= link_to("#{Fight.where(to_do_id: todo.id).size}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
          <% end %>

          <%= link_to("#{Comment.where(to_do_id: todo.id).size}", "/tasks/#{todo.id}/comment/new", class: "fas_header_bordertransparent") %>

          <%= link_to("","/tasks/#{todo.id}/edit", class: "fas fa-pen fa-lg edit-pen") %>
          </div>
        </div>
      <% end %>   
      <% end %>
    </div>
        
      

    <div class="todo-list-box">
        <% if @todo_done.blank?%>
          <% m = 1 %>
        <% else %>
          <h2>完了済み</h2>
          <% @todo_done.each do |todo| %>
            <div class="todo-list">
              <div class="list-grid">
                <%= link_to "/tasks/#{todo.id}/comment",class:  "comment-link" do %> 
                  <p class="todo-list-text index-text-box"><%= todo.text %></p>
                <% end %>
                <%= link_to "/tasks/#{todo.id}/comment",class: "comment-link" do %> 
                  <p class="index-limit"><%= todo.limit_date %></p> 
                <% end %>
                <div class="index-btn-box">
                  <%= button_to '未完了', done_path(todo.id),  date:{"turbo-method": :post}, class:"index-done-btn"%>
                </div>
              </div>
              <div class="sub-cont">
              <% if todo.fighted?(session[:user_id]) %>
                <%= link_to("#{Fight.where(to_do_id: todo.id).size}","/tasks/#{todo.id}/fight/#{Fight.find_by(user_id: session[:user_id], to_do_id: todo.id).id}", class: "fas_button_border_after") %>
              <% else %>
                <%= link_to("#{Fight.where(to_do_id: todo.id).size}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
              <% end %>
  
              <%= link_to("#{Comment.where(to_do_id: todo.id).size}", "/tasks/#{todo.id}/comment/new", class: "fas_header_bordertransparent") %>

              <%= link_to("","/tasks/#{todo.id}/edit", class: "fas fa-pen fa-lg edit-pen") %>
              </div>
            </div>
          <% end %>    
        <% end %>
      </div>

      <div class="todo-list-box">
        <% if @todo_fight.blank?%>
          <% m = 1 %>
        <% else %>
        <h2>応援タスク</h2>
          <% @todo_fight.each do |todo| %>
            <div class="fight-todo-box">
            <%= link_to "/tasks/#{todo.id}/comment",class: "comment-link" do %> 
            <h2><%= User.find(todo.user_id).name %></h2>
            <p class="todo-text"><%= todo.text %></p>
            <p class="todo-date"><%= todo.limit_date %></p>
            <% if todo.fighted?(session[:user_id]) %>
              <%= link_to("#{Fight.where(to_do_id: todo.id).size}","/tasks/#{todo.id}/fight/#{Fight.find_by(user_id: session[:user_id], to_do_id: todo.id).id}", class: "fas_button_border_after") %>
            <% else %>
              <%= link_to("#{Fight.where(to_do_id: todo.id).size}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
            <% end %>

            <%= link_to("#{Comment.where(to_do_id: todo.id).size}", "/tasks/#{todo.id}/comment/new", class: "fas_header_bordertransparent") %>
            <% end %>
            </div>
            <% end %>    
        <% end %>
      </div>
        
  
</div>