<div class="todo-header">
  <h1>ToDoリスト</h1>
  <div class="user-show-body">
    <div class="user-show-switch">
      <p class="cvevron-down active">ユーザー詳細</p>
      <div class="cvevron-down active"><i class="fas fa-chevron-down"></i></div>
    </div>
    <div class="user-show-box">
      <div class="active-grid">
        <div class="user-show-border">
          <%= image_tag @user.user_image.url, class:"user-show-img"%>
        </div>
        <div class="user-show-text">
          <h2 class="user-show-name"><%= @user.name %></h2>
          <p><a class="user-show-label">メールアドレス：</a><%= @user.email %></p>
          <p><a class="user-show-label">達成済タスク：</a><%= @todo_done.count %></p>
          <p><a class="user-show-label">未達成タスク：</a><%= @todo.count %></p>
          <% if @user.public %>
            <p>公開</p>
          <% else %>
            <p>非公開</p>
          <% end %>
        </div>
      </div>
      <%= link_to("ユーザー情報編集", "/user/#{@user.id}/edit", class:"userEditList") %>
      <div class="chevron-up user-show-switch">
        <i class="fas fa-chevron-up"></i>
      </div>
    </div>    
  </div>
</div>
<div class="todo">
  <div class="tab-list">
    <ul class="tab-con">
      <li class="tab tab-active">未達成</li>
      <li class="tab">達成済</li>
      <li class="tab">応援</li>
    </ul>
  </div>
  <div class="todo-body">
    <div class="todo-list-box todo-index-active">
    <h2>未達成タスク</h2>
    <%= link_to("ToDoを追加しよう", "/tasks/new", class: "list-text") %>
    <div class="todo-box">
        <% @todo.each do |todo| %>
          <div class="todo-list <%= 'todo-list-out' if todo.limit_date <= Date.today %>">
          <div class="list-grid">
            <%= link_to "/tasks/#{todo.id}/comment",class: "comment-link" do %> 
              <p class="todo-list-text index-text-box"><%= todo.text %></p>
            <% end %>
            <%= link_to "/tasks/#{todo.id}/comment",class: "comment-link" do %> 
              <p class="index-limit"><%= todo.limit_date %></p> 
            <% end %>
            <div class="index-btn-box">
                <%= button_to '完了', done_path(todo.id),  date:{"turbo-method": :post}, class:"index-done-btn"%>
              </div>
          </div>

          <div class="sub-cont">
          <% todo.fights.each do |fight, n| %>
            <% if fight.user_id == session[:user_id] %>
              <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight/#{fight.id}", class: "fas_button_border_after") %>
              <% break %> 
            <% end %>
            <% if n == todo.fights.size - 1 %>
              <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
            <% end %>
          <% end %>
          <% if todo.fights.size == 0 %>
            <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
          <% end %>
          <%= link_to("#{todo.comment}", "/tasks/#{todo.id}/comment/new", class: "fas_header_bordertransparent") %>  
          <%= link_to("","/tasks/#{todo.id}/edit", class: "fas fa-pen fa-lg edit-pen") %>
          </div>
        </div>
      <% end %>
    </div>   
    </div>
        
      

    <div class="todo-list-box">
        <% if @todo_done.size == 0%>
          <% m = 1 %>
        <% else %>
          <h2>達成済タスク</h2>
          <% @todo_done.each do |todo| %>
            <div class="todo-list">
              <div class="list-grid">
                <%= link_to "/tasks/#{todo.id}/comment",class:  "comment-link" do %> 
                  <p class="todo-list-text index-text-box"><%= todo.text %></p>
                <% end %>
                <%= link_to "/tasks/#{todo.id}/comment",class: "comment-link" do %> 
                  <p class="index-limit"><%= todo.limit_date %></p> 
                <% end %>
                <div class="index-btn-box">
                  <%= button_to '未完了', done_path(todo.id),  date:{"turbo-method": :post}, class:"index-done-btn"%>
                </div>
              </div>
              <div class="sub-cont">
              <% todo.fights.each do |fight, n| %>
                <% if fight.user_id == session[:user_id] %>
                  <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight/#{fight.id}", class: "fas_button_border_after") %>
                  <% break %> 
                <% end %>
                <% if n == todo.fights.size - 1 %>
                  <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
                <% end %>
              <% end %>
              <% if todo.fights.size == 0 %>
                <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
              <% end %>
              <%= link_to("#{todo.comment}", "/tasks/#{todo.id}/comment/new", class: "fas_header_bordertransparent") %>

              <%= link_to("","/tasks/#{todo.id}/edit", class: "fas fa-pen fa-lg edit-pen") %>
              </div>
            </div>
          <% end %>    
        <% end %>
      </div>

      <div class="todo-list-box">
        <% if @todo_fight.size == 0%>
          <% m = 1 %>
        <% else %>
        <h2>応援タスク</h2>
          <% @todo_fight.each do |fight| %>
            <div class="fight-todo-box">
            <%= link_to "/tasks/#{fight.to_do.id}/comment",class: "comment-link" do %> 
              <h2><%= fight.to_do.user.name %></h2>
              <p class="todo-text"><%= fight.to_do.text %></p>
              <p class="todo-date"><%= fight.to_do.limit_date %></p>
              <% @todo_fight.each do |f, n| %>
                <% if f.user_id == session[:user_id] %>
                  <%= link_to("#{fight.to_do.fight}","/tasks/#{fight.to_do.id}/fight/#{f.id}", class: "fas_button_border_after") %>
                  <% break %> 
                <% end %>
                <% if n == todo.fights.size - 1 %>
                  <%= link_to("#{todo.to_do.fight}","/tasks/#{todo.to_do.id}/fight", class: "fas_button_border") %>
                <% end %>
              <% end %>
              <% if fight.to_do.fight == 0 %>
                <%= link_to("#{fight.to_do.f}","/tasks/#{fight.to_do.id}/fight", class: "fas_button_border") %>
              <% end %>
              <%= link_to("#{fight.to_do.comment}", "/tasks/#{fight.to_do.id}/comment/new", class: "fas_header_bordertransparent") %>
            <% end %>
            </div>
          <% end %>    
        <% end %>
      </div>
    </div>
        
  
</div>