<div class="todo">
  <div class="todo-header">
    <h1>他の人のToDo</h1>
    <div class="tab-list">
    <ul class="tab-con">
      <li class="tab tab-active">新着順</li>
      <li class="tab">人気順</li>
    </ul>
    </div>
  </div>
  <div class="todo-body">
    <div class="todo-list-box todo-index-active">
    <% @todo.each do |todo| %>
      <div class="show-todo-box">
        <%= link_to "/tasks/#{todo.id}/comment",class: "comment-link" do %>
          <div class="text-left">
            <%= image_tag "#{todo.user.user_image.cropped}", class:"todo-user-img"%>
            <h2><%= todo.user.name %></h2>
          </div>
          <p class="todo-text"><%= todo.text %></p>
          <p class="todo-date"><%= todo.limit_date %></p>
          <% if todo.fight > 0 %>

          <% todo.fights.each_with_index do |fight, i| %>
            
            <% if fight.user_id == session[:user_id] %>
              <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight/#{fight.id}", class: "fas_button_border_after") %>
              <% break %> 
            <% end %>
            <% if i == todo.fight - 1 %>
              <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
            <% end %>
          <% end %>
          <% elsif todo.fight == 0 %>
            <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
          <% end %>
          <%= link_to("#{todo.comment}", "/tasks/#{todo.id}/comment/new", class: "fas_header_bordertransparent") %>
        <% end %>
      </div>
    <% end %>
    </div>

    <div class="todo-list-box">
      <% @todo_fight.each do |todo| %>
        <div class="show-todo-box">
        <%= link_to "/tasks/#{todo.id}/comment",class: "comment-link" do %> 
          <div class="text-left">
            <%= image_tag "#{todo.user.user_image.cropped}", class:"todo-user-img"%>
            <h2><%= todo.user.name %></h2>
          </div>
          <p class="todo-text"><%= todo.text %></p>
          <p class="todo-date"><%= todo.limit_date %></p>
          <% todo.fights.each_with_index do |fight, n| %>
            <% if fight.user_id == session[:user_id] %>
              <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight/#{fight.id}", class: "fas_button_border_after") %>
              <% break %> 
            <% end %>
            <% if n == todo.fights.size - 1 %>
              <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
            <% end %>
          <% end %>
          <% if todo.fights.size == 0 %>
            <%= link_to("#{todo.fight}","/tasks/#{todo.id}/fight", class: "fas_button_border") %>
          <% end %>
          <%= link_to("#{todo.comment}", "/tasks/#{todo.id}/comment/new", class: "fas_header_bordertransparent") %>
        <% end %>
        </div>
      <% end %>
    </div>    
  </div>
</div>