<div class="todo">
  <div class="todo-header">
    <h1>他の人のToDo</h1>
    <div class="todo_main">
      <div class="todo_body">
        <% @todo.each do |todo| %>
          <div class="show-todo-box">
            <div class="show-user-name">
              <%= liknk_to(User.find(todo.user_id).name, ) %>
            </div>
            <div class="show-todo-text">
              <%= todo.text %>
            </div>
            <div class="show-todo-date">
              <%= todo.limit_date %>
            </div>
            <button class="fas_button_border"><% if todo.fight != 0 %>
            <%= todo.fight %>
            <% end %></button>
            
            <button class="fas_header_bordertransparent"><% if todo.comment != 0 %>
            <%= todo.comment %>
            <% end %></button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>