<div class="user">
  <div class="user-header">
    <h1>編集画面</h1>
    <div class="user_main">
    <% if flash[:error].present? %>
      <% flash[:error].each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
    <% end %>
      <%= form_with(url: "/user/#{@user.id}/update") do |f|%>
        <%= f.label :user_image, 'プロフィール画像' %>
        <%= f.file_field :user_image, name: 'user_image', class:'form-control' %> 
        <%= f.hidden_field :user_image_cache %>
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, name: 'name', value: @user.name %>
        <%= f.label :email, 'メールアドレス' %>
        <%= f.text_field :email, name: 'email', value: @user.email%>
        <% if @user.public %>
          <div class="form-public-box">
            <%= f.radio_button :public, "true", id: "public", checked: "checked", value: "true", class: "public-radio", name: 'public' %>
            <%= f.label :public, "公開" %>
            <%= f.radio_button :notpublic, "false", id: "notpublic", name: "public", value: "false", class: "public-radio public-radio2" %>
            <%= f.label :public, "非公開" %>
          </div>
        <% else %>
          <div class="form-public-box">
            <%= f.radio_button :public, "true", id: "public", value: "true", class: "public-radio", name: "public" %>
            <%= f.label :public, "公開" %>
            <%= f.radio_button :notpublic, "false", id: "notpublic", name: "public", checked: "checked", value: "false", class: "public-radio public-radio2" %>
            <%= f.label :public, "非公開" %>
          </div>
        <% end %>
        <div class="submit-button">
          <%= f.submit value: "編集" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
