<div class="user">
  <div class="user-header">
    <h1>新規登録</h1>
  </div>
      
  <% if flash[:error].present? %>
    <% flash[:error].each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <%= form_with(model: @user, local: true) do |form| %>
    <div class="field">
      <p><%= form.label :name %>（10文字以上）</p>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <p><%= form.label :email %></p>
      <%= form.email_field :email %>
    </div>

    <div class="field">
      <p><%= form.label :password %>（6文字以上）</p>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <p><%= form.label :password_confirmation %></p>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="form-public-box">
      <%= form.label :public, class: 'radio-label' do %>
        <%= form.radio_button :public, true, id: 'public', class: 'public-radio', checked: 'checked' %>
        公開
      <% end %>
      <%= form.label :public, class: 'radio-label' do %>
        <%= form.radio_button :public, false, id: 'notpublic', class: 'public-radio public-radio2' %>
        非公開
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit '新規登録' %>
    </div>
  <% end %>
</div>
