<div class="user">
  <div class="user-header">
    <h1>新規登録</h1>
  </div>
  <div class="user_main">
      
    <% if flash[:error].present? %>
      <% flash[:error].each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
    <% end %>
    <%= form_tag("/user/create") do %>
      <p>ユーザー名(10文字以内)</p>
      <input  id="name"name="name" value="<%= @user.name %>" id="name">
      <p>メールアドレス</p>
      <input name="email" value="<%= @user.email %>" id="email">
      <p>パスワード</p>
      <input type="password" name="password" value="<%= @user.password %>" id="password"></br>
      <div class="form-public-box">
        <input type="radio" id="public" name="public" value="true" class="public-radio" checked="checked"><label for="public" class="radio-label">公開</label>
        <input type="radio" id="notpublic" name="public" value="false" class="public-radio public-radio2"><label for="notpublic">非公開</label>
      </div>
      <div class="submit-button">
        <input type="submit" value="新規登録">
      </div>
    <% end %>
  </div>
</div>
