<div class="todo">
  <div class="todo-header">
    <h1>ToDo編集</h1>
    <div class="todo_main">
      <% @todo.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <%= form_with(model: @todo, local: true) do |form| %>
        <div class="field">
          <p><%= form.label :text %></p>
          <%= form.text_field :text, value: @todo.text %>
        </div>
        <div class="field">
          <p><%= form.label :limit_date %>例) 2024-9-2</p>
          <%= form.date_field :limit_date, value: @todo.limit_date %>
        </div>
        
        </br>
        <%= form.hidden_field :id, value: @todo.id %>
        <div class="submit-button">
          <%= form.submit '編集する' %>
        </div>
      <% end %>
      <%= form_tag ("/todos/delete") do %>
        <input type="hidden" name="id" value="<%= @todo.id %>">
        <input type="submit" value="削除する" class="show-btn">
      <% end %>
    </div>
  </div>
</div>