<!DOCTYPE html>
<html>
  <head>
    <title>ToDoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <div class="header">
      <div class="header-title">
        <%= link_to("ToDoアプリ", "/", class:"userList") %>
        <div class="header-con">
        <% if session[:user_id]  %>
          <ul>
            <li>
              <%= User.find(session[:user_id]).name %>
            </li>
            <li>
              <%= link_to("追加", "/tasks/new", class:"userList") %>
            </li>
            <li>
              <%= link_to("リスト", "/tasks", class:"userList") %>
            </li>
            <li>
              <%= link_to("一覧", "/tasks/list", class:"userList") %>
            </li>
            <li>
              <%= link_to("ログアウト", "/user/logout", data: { "turbo-method": :post }, class:"userList") %>
            </li>
          </ul>
        <% else %>
          <ul>
            <li>
              <%= link_to("新規登録", "/user/new", class:"userList") %>
            </li>
            <li>
              <%= link_to("ログイン", "/user/login", class:"userList") %>
            </li>
          </ul>
        <% end %>
        </div>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:attention] %>
      <div class="attention">
        <%= flash[:attention] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
