<!DOCTYPE html>
<html>
  <head>
    <title>ToDoパルス</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('logo1.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:js) %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"> 
    <link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.js"></script>
    <meta name="google-site-verification" content="irDdKPCHoHIfbPNHQknyJZSv912Ic4NHDBhLM-764_Y" />
  </head>

  <body>
    <div class="header">
      <div class="header-title">
      <% if session[:user_id] %>
        <%= link_to("ToDoパルス", "/tasks", class:"userList title") %>
      <% else %>
        <%= link_to("ToDoパルス", "/", class:"userList title") %>
      <% end %>
      <div class="header-con">
        <% if session[:user_id] %>
          <ul>
            <li>
              <a class="fas fa-bell userList"></a>
              <% notices_create %>
              <% if @notices.blank? %>
                <div class="home-user-alert">
                  <p style="padding-left: 20px;">お知らせはありません</p>
                </div>
              <% else %> 
                <div class="for-alert">
                </div>
                <div class="home-user-alert">
                  <ul class="notice-ul">
                    <% @notices.each do |notice| %>
                      <%= link_to "/tasks/notice/#{notice.id}/checked" do %> 
                      <li class="notice-li">
                        <% if notice.action == 0 %>
                          <p>あなたの投稿が応援されました。</p>
                          <p class="notice-text"><%= ToDo.find(notice.to_do_id).text %></p>
                        <% elsif notice.action == 1 %>
                          <p>あなたの投稿にコメントされました。</p>
                          <p class="notice-text"><%= Comment.find(notice.action_id).text %></p>
                        <% elsif notice.action == 2 %>
                          <p>あなたのコメントがポリシー違反のため削除されました。</p>
                        <% end %>
                      </li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </li>
            <li> 
              <%= link_to("", "/tasks/list", class:"userList fas fa-home") %>
            </li>
            <li>
              <a class="userList fas fa-user"></a>
              <div class="home-user-box">
                <ul class="home-user-ul">
                  <li class="home-user-li">
                    <%= link_to('ToDoリスト', '/tasks', class:"homeUserList") %>
                  </li>
                  <li class="home-user-li">
                    <%= link_to('ユーザ編集', "/users/#{session[:user_id]}/edit", class:"homeUserList") %>
                  </li>
                  <li class="home-user-li">
                    <%= link_to('ログアウト', '/logout', class:"homeUserList") %>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <%= link_to("追加する", "/tasks/new", class:"userList taskAdd") %>
            </li>
          </ul>
        <% else %>
          <ul>
            <li>
              <%= link_to("新規登録", "/users/new", class:"userList") %>
            </li>
            <li>
              <%= link_to("ログイン", "/login", class:"userList") %>
            </li>
          </ul>
        <% end %>
        </div>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:attention] %>
      <div class="attention">
        <%= flash[:attention] %>
      </div>
    <% end %>
    <div class="main">
      <%= yield %>
      <div class="footer-con">
        <% if @notices.blank? %>
          <div class="home-user-alert">
            <p style="padding-left: 20px;">お知らせはありません</p>
          </div>
        <% else %> 
          <div class="for-alert">
          </div>
          <div class="home-user-alert">
            <ul class="notice-ul">
              <% @notices.each do |notice| %>
                <%= link_to "/tasks/notice/#{notice.id}/checked" do %> 
                <li class="notice-li">
                  <% if notice.action == 0 %>
                    <p>あなたの投稿が応援されました。</p>
                    <p class="notice-text"><%= ToDo.find(notice.to_do_id).text %></p>
                  <% elsif notice.action == 1 %>
                    <p>あなたの投稿にコメントされました。</p>
                    <p class="notice-text"><%= Comment.find(notice.action_id).text %></p>
                  <% elsif notice.action == 2 %>
                    <p>あなたのコメントがポリシー違反のため削除されました。</p>
                  <% end %>
                </li>
                <% end %>
              <% end %>
            </ul>                  
          </div>
        <% end %>
        <div class="home-user-box">
          <ul class="home-user-ul">
            <li class="home-user-li">
              <%= link_to('Myリスト', '/tasks', class:"homeUserList") %>
            </li>
            <li class="home-user-li">
              <%= link_to('ユーザ編集', "/users/#{session[:user_id]}/edit", class:"homeUserList") %>
            </li>
            <li class="home-user-li">
              <%= link_to('ログアウト', '/logout', class:"homeUserList") %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="arrow-box">
      <i class="fas fa-arrow-up"></i>
    </div>
    <% if session[:user_id] %>
      <footer>
        <a class="fas fa-bell footer-bell"></a>
        <%= link_to("", "/tasks/list", class:"userList fas fa-home") %>
        <a class="userList fas fa-user footer-user"></a>
        <%= link_to("", "/tasks/new", class:"fas fa-plus-circle", style: "color: #74C0FC;") %>
      </footer>
    <% end %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
