<!DOCTYPE html>
<html>
  <head>
    <title>ToDoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <div class="header">
      <div class="header-title">
      <% if session[:user_id] %>
        <%= link_to("ToDoアプリ", "/tasks", class:"userList title") %>
      <% else %>
        <%= link_to("ToDoアプリ", "/", class:"userList") %>
      <% end %>
      <div class="header-con">
        <% if session[:user_id]  %>
          <ul>
            <li>
              <a class="fas fa-bell userList"></a>
              <div class="home-user-alert">
                <% notices_create %>
                <% if @notices.blank? %>
                <p>こんにちは</p> 
                <% else %> 
                  <ul class="notice-ul">
                    <% @notices.each do |notice| %>
                      <%= link_to "/tasks/notice/#{notice.id}/checked" do %> 
                      <li class="notice-li">
                        <% if notice.action == 0 %>
                          <p>あなたの投稿が応援されました。</p>
                          <p class="notice-text"><%= ToDo.find(notice.to_do_id).text %></p>
                        <% elsif notice.action == 1 %>
                          <p>あなたの投稿にコメントされました。</p>
                          <p class="notice-text"><%= Comment.find(notice.action_id).text %></p>
                        <% elsif notice.action == 2 %>
                          <p>あなたのコメントがポリシー違反のため削除されました。</p>
                        <% end %>
                      </li>
                      <% end %>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </li>
            <li> 
              <%= link_to("", "/tasks/list", class:"userList fas fa-home ") %>
            </li>
            <li>
              <a class="userList fas fa-user"></a>
              <div class="home-user-box">
                <ul class="home-user-ul">
                  <li class="home-user-li">
                    <%= link_to('ToDoリスト', '/tasks', class:"homeUserList") %>
                  </li>
                  <li class="home-user-li">
                    <%= link_to('ユーザ詳細', "/user/show/#{session[:user_id]}", class:"homeUserList") %>
                  </li>
                  <li class="home-user-li">
                    <%= link_to('ユーザ編集', "/user/#{session[:user_id]}/edit", class:"homeUserList") %>
                  </li>
                  <li class="home-user-li">
                    <%= link_to('ログアウト', '/user/logout', class:"homeUserList") %>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <%= link_to("追加する", "/tasks/new", class:"userList taskAdd") %>
            </li>
          </ul>
        <% else %>
          <ul>
            <li>
              <%= link_to("新規登録", "/user/new", class:"userList") %>
            </li>
            <li>
              <%= link_to("ログイン", "/user/login", class:"userList") %>
            </li>
          </ul>
        <% end %>
        </div>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:attention] %>
      <div class="attention">
        <%= flash[:attention] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
